/*
Container
 */

body {
    padding-top: 50px; /*To keep container not to overlap with navbar*/
}

@media only screen  and (max-width : 480px) {
    .bd-example {
        padding-top: 0;
    }
}


.row {
    margin-bottom: 3rem;
}

@media only screen  and (min-width : 480px){
    .row {
        margin-left: 25px;
        margin-right: 25px;
    }
}


.button-row {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .75rem;
    margin-bottom: 3rem;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}

h2.card-title {
    margin-top: .75rem;
    margin-bottom: 3rem;
}

h3.card-title {
    margin-top: .75rem;
}

.card-subtitle {
    margin-top: -.375rem;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-text {
    font-size: 17px;
    margin: 0 0 2rem;
}

.card-inner {
    padding-left: 0;
}

.summary {
    padding-top: 1rem;
}


@media only screen  and (min-width : 1600px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }

    .vertical-align table {
        margin-top: 1rem;
    }
}

@media only screen  and (max-width : 480px){
    section.jumbotron {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .column {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen  and (max-width : 750px){
    .placeholder {
        padding-bottom: 3rem;
    }
}

/*
Navbar
 */
.bg-blue {
    background-color: #2b669a;
}

.navbar a {
    color: whitesmoke;
}

/*
Placeholder
 */
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

/*
Section
 */

.jumbotron {
    padding-top: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron > p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

/*
Search bar
 */

.col-centered{
    float: none;
    margin: 0 auto;
}

/*
Table
 */
th {
    text-align: center;
}

.bd-example {
    padding-top: 2rem;
}

[data-hidden="hidden"] {
    visibility: hidden;
}

[data-hidden="false"]{
    visibility: visible;
}

.table > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

.owner-table {
    margin-top: 2rem;
}

.td-more-info {
    padding-top: 20px !important;
    text-align: center;
}



/*
Pager
 */
@media only screen  and (min-width : 320px) and (max-width : 768px) {
    .pager {
        text-align: center;
    }

    .summary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen  and (min-width : 769px) {
    .pager {
        text-align: right;
    }
    .summary {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}



/*
Button
 */
.btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
    width: 100px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.focus {
    color: #0275d8;
}

/*
Dashboard
 */
.main {
    padding: 20px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.placeholders h4 {
    margin-bottom: 0;
}

/*
octicon
 */

.mega-octicon {
    font-size: 30px;
}

/*
image
 */


@media only screen  and (min-width : 480px) {
    .img-thumbnail {
        max-width: 200px;
    }
}

/*
Modal
 */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

button.close {
    padding-right: 5px;
}